*{
    padding: 0;
    margin: 0;
}

html{
    background-image: url(../img/vxod1.png);
    background-size: cover;
    height: 100%;
}

p{
    font-size: 120%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#send{
    color: #11002c;
    font-size: 140%;
    margin-top: 10%;
    margin-left: 20%;
    font-family: 'Montserrat', sans-serif;
}

.LogIn{
    width: 90%;
    margin-top: 10%;
    border-style: solid;
    border-width: 5px;
    border-radius: 3px;
    border-color: #11002c;
    margin-left: 5%;
}

.div{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 90%;
    margin-left: 5%;
}

.p{
    padding-top: 3ox;
}